apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus.wokibrain.grgcrew.com
    isDefault: true
    editable: true
    jsonData:
      httpMethod: GET
      timeInterval: 15s


